/* universal styles */

/*css reset*/
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* global styles */

.centerme {
	text-align: center;
}

/* ~~~~~~ page styles ~~~~~~ */

.wholepage {
	background-image: url("http://creative.colorado.edu/~dakr1474/dev/git-love/img/wood-texture.jpg");
	background-size: cover;
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Oswald', sans-serif;
}

header {
	width: 960px;
	margin: 0 auto;
	background-image: url("http://creative.colorado.edu/~dakr1474/dev/git-love/img/brackets.png");
	background-size: 400px 300px;
	background-repeat: no-repeat;
	background-position: center;
}

h1 {
	width: 300px;
	margin: 0 auto;
	font-family: 'Lobster', cursive;
	font-size: 4em;
	padding-top: 40px;
	padding-bottom: 40px;
	color: rgba(246,173,181,1);
}

p {
	padding-bottom: 15px; 
}

.listing {
	list-style: none;
	padding-left: 20px;
	padding-bottom: 10px;
	}

.listing li {
	padding: 10px;
}

.letter {
	background-image: url("http://creative.colorado.edu/~dakr1474/dev/git-love/img/pink-paper.jpg");
	background-size: cover;
	max-width: 700px;
	margin: 0 auto;
	padding: 50px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 5px;
}

.signature {
	padding-bottom: 45px;
}

/* "What is it?" segment formatting */
details {
	background-image: url("http://creative.colorado.edu/~dakr1474/dev/git-love/img/torn-edge.png");
	background-size: 700px 500px;
	background-repeat: no-repeat;
	max-width: 700px;
	margin: 0 auto;
	padding-top: 70px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
}

.expandme p {
	font-size: .8em;
}

/* signing off */
.closing {
	margin-top: 50px;
}

.closing figure img {
	max-width: 250px;
}